In [1]:
import pandas as pd

data = "https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json"
dados = pd.read_json(data)
dados.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [2]:
#verificando os tipos dos dados disponíveis a partir do dado na primeira informação em cada coluna. 
for column in dados.columns:
    print(column, type(dados[column][0]))

customerID <class 'str'>
Churn <class 'str'>
customer <class 'dict'>
phone <class 'dict'>
internet <class 'dict'>
account <class 'dict'>

In [3]:
#verificando as keys dos dicts
for key in ['customer', 'phone', 'internet', 'account']:
    print(dados[key][0].keys())

dict_keys(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure'])
dict_keys(['PhoneService', 'MultipleLines'])
dict_keys(['InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'])
dict_keys(['Contract', 'PaperlessBilling', 'PaymentMethod', 'Charges'])

In [4]:
normal_customer = pd.json_normalize(data=dados['customer'], sep='_')
normal_customer

      gender  SeniorCitizen Partner Dependents  tenure
0     Female              0     Yes        Yes       9
1       Male              0      No         No       9
2       Male              0      No         No       4
3       Male              1     Yes         No      13
4     Female              1     Yes         No       3
...      ...            ...     ...        ...     ...
7262  Female              0      No         No      13
7263    Male              0     Yes         No      22
7264    Male              0      No         No       2
7265    Male              0     Yes        Yes      67
7266    Male              0     Yes        Yes      63

[7267 rows x 5 columns]

In [5]:
#separando os dicts

for dict in ['customer', 'phone', 'internet', 'account']:
    dict_normal = pd.json_normalize(data=dados[dict], sep='_')
    dados = pd.concat([dados, dict_normal], axis=1)
    
dados.head()

,customerID,Churn,customer,phone,internet,account,gender,SeniorCitizen,Partner,Dependents,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '...",Female,0,Yes,Yes,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,0,No,No,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Male,1,Yes,No,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli...",Female,1,Yes,No,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [6]:
dados.drop(['customer', 'phone', 'internet', 'account'], inplace=True, axis=1)

In [7]:
for column in dados.columns:
    print(column, type(dados[column][0]))

customerID <class 'str'>
Churn <class 'str'>
gender <class 'str'>
SeniorCitizen <class 'numpy.int64'>
Partner <class 'str'>
Dependents <class 'str'>
tenure <class 'numpy.int64'>
PhoneService <class 'str'>
MultipleLines <class 'str'>
InternetService <class 'str'>
OnlineSecurity <class 'str'>
OnlineBackup <class 'str'>
DeviceProtection <class 'str'>
TechSupport <class 'str'>
StreamingTV <class 'str'>
StreamingMovies <class 'str'>
Contract <class 'str'>
PaperlessBilling <class 'str'>
PaymentMethod <class 'str'>
Charges_Monthly <class 'numpy.float64'>
Charges_Total <class 'str'>

In [8]:
strings = ['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
          'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
          'PaperlessBilling', 'PaymentMethod']
for values in strings:
    print(dados[values].value_counts())

Male      3675
Female    3592
Name: gender, dtype: int64
No     3749
Yes    3518
Name: Partner, dtype: int64
No     5086
Yes    2181
Name: Dependents, dtype: int64
Yes    6560
No      707
Name: PhoneService, dtype: int64
No                  3495
Yes                 3065
No phone service     707
Name: MultipleLines, dtype: int64
Fiber optic    3198
DSL            2488
No             1581
Name: InternetService, dtype: int64
No                     3608
Yes                    2078
No internet service    1581
Name: OnlineSecurity, dtype: int64
No                     3182
Yes                    2504
No internet service    1581
Name: OnlineBackup, dtype: int64
No                     3195
Yes                    2491
No internet service    1581
Name: DeviceProtection, dtype: int64
No                     3582
Yes                    2104
No internet service    1581
Name: TechSupport, dtype: int64
No                     2896
Yes                    2790
No internet service    1581
Name: StreamingTV, dtype: int64
No                     2870
Yes                    2816
No internet service    1581
Name: StreamingMovies, dtype: int64
Month-to-month    4005
Two year          1743
One year          1519
Name: Contract, dtype: int64
Yes    4311
No     2956
Name: PaperlessBilling, dtype: int64
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: PaymentMethod, dtype: int64

In [9]:
#11 desses dados não possuem valor.
dados.query("Charges_Total == ' '")

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges_Monthly,Charges_Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,

In [10]:
#Charges Total não devira ser str, vamos converter em float.
#Existem dados faltantes, vamos utilizar coerce para transformar os erros em NaN.

print(type(dados['Charges_Total'][0]))

dados['Charges_Total'] = pd.to_numeric(dados['Charges_Total'], errors='coerce')

print(type(dados['Charges_Total'][0]))

<class 'str'>
<class 'numpy.float64'>

In [11]:
#Confirmando que somente os 11 vazios foram convertidos em NaN
print(dados['Charges_Total'].isna().sum())

11

In [12]:
#Verificando NaN no dataset
for valor in dados.columns:
    print(valor, dados[valor].isna().sum())

customerID 0
Churn 0
gender 0
SeniorCitizen 0
Partner 0
Dependents 0
tenure 0
PhoneService 0
MultipleLines 0
InternetService 0
OnlineSecurity 0
OnlineBackup 0
DeviceProtection 0
TechSupport 0
StreamingTV 0
StreamingMovies 0
Contract 0
PaperlessBilling 0
PaymentMethod 0
Charges_Monthly 0
Charges_Total 11

In [13]:
#Como é um dataset com mais de 7000 entradas e esses 11 valores parecem não ter sido colocados por erro, 
#iremos tirar esses 11.
print(dados.shape[0])
dados.dropna(inplace=True)
print(dados.shape[0])

7267
7256

Vamos traduzir o dataframe

In [14]:
print(dados.columns)

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges_Monthly',
       'Charges_Total'],
      dtype='object')

In [15]:
#Começando por renomear as colunas (churn é um termo importado e não será mudado)
dados.rename(columns={'customerID': 'ID_Cliente', 'gender': 'Gênero', 'SeniorCitizen': 'É_Idoso',
                     'Partner': 'Tem_Parceiro', 'Dependents': 'Tem_Dependentes', 'tenure': 'Tempo_de_Posse',
                     'PhoneService': 'Tem_Serviço_Telefone', 'MultipleLines': 'Tem_Múltiplas_Linhas',
                     'InternetService': 'Tem_Serviço_Internet', 'OnlineSecurity': 'Tem_Serviço_Segurança_Online',
                     'OnlineBackup': 'Tem_Backup_Online', 'DeviceProtection': 'Tem_Proteção_Aparelho',
                     'TechSupport': 'Tem_Suporte_Técnico', 'StreamingTV': 'Tem_Tv_Streaming', 'StreamingMovies': 'Tem_Filmes_Streaming',
                     'Contract': 'Contrato', 'PaperlessBilling': 'Cobrança_Sem_Papel', 'PaymentMethod': 'Método_de_Pagamento',
                     'Charges_Monthly': 'Cobra_Mensalmente', 'Charges_Total': 'Cobrança_Total'}, inplace=True)
print(dados.columns)

Index(['ID_Cliente', 'Churn', 'Gênero', 'É_Idoso', 'Tem_Parceiro',
       'Tem_Dependentes', 'Tempo_de_Posse', 'Tem_Serviço_Telefone',
       'Tem_Múltiplas_Linhas', 'Tem_Serviço_Internet',
       'Tem_Serviço_Segurança_Online', 'Tem_Backup_Online',
       'Tem_Proteção_Aparelho', 'Tem_Suporte_Técnico', 'Tem_Tv_Streaming',
       'Tem_Filmes_Streaming', 'Contrato', 'Cobrança_Sem_Papel',
       'Método_de_Pagamento', 'Cobra_Mensalmente', 'Cobrança_Total'],
      dtype='object')

In [16]:
#Traduzir resultados 
dados.replace('Yes', 'Sim', inplace=True)
dados.replace('No', 'Não', inplace=True)
dados.replace('Female', 'Feminino', inplace=True)
dados.replace('Male', 'Masculino', inplace=True)
dados.replace('Fiber optic', 'Fibra Óptica', inplace=True)
dados.replace('No phone service', 'Sem serviço de telefone', inplace=True)
dados.replace('No internet service', 'Sem serviço de internet', inplace=True)
dados.replace('Month-to-month', 'Mês a mês', inplace=True)
dados.replace('Two year', 'Dois anos', inplace=True)
dados.replace('One year', 'Um ano', inplace=True)
dados.replace('Electronic check', 'Cobrança Eletrônica', inplace=True)
dados.replace('Mailed check', 'Cobrança por Correios', inplace=True)
dados.replace('Bank transfer (automatic)', 'Transferência Bancária (automático)', inplace=True)
dados.replace('Credit card (automatic)', 'Cartão de Crédito (automático)', inplace=True)
#Somente agora percebi que idoso está como int, apesar de funcionar, para que fique tudo no mesmo padrão, vou transformar em str sim e não
dados['É_Idoso'].replace(0, 'Não', inplace=True)
dados['É_Idoso'].replace(1, 'Sim', inplace=True)

In [17]:
strings = ['Gênero', 'É_Idoso', 'Tem_Parceiro',
       'Tem_Dependentes','Tem_Serviço_Telefone',
       'Tem_Múltiplas_Linhas', 'Tem_Serviço_Internet',
       'Tem_Serviço_Segurança_Online', 'Tem_Backup_Online',
       'Tem_Proteção_Aparelho', 'Tem_Suporte_Técnico', 'Tem_Tv_Streaming',
       'Tem_Filmes_Streaming', 'Contrato', 'Cobrança_Sem_Papel',
       'Método_de_Pagamento']
for values in strings:
    print(dados[values].value_counts())

Masculino    3669
Feminino     3587
Name: Gênero, dtype: int64
Não    6074
Sim    1182
Name: É_Idoso, dtype: int64
Não    3747
Sim    3509
Name: Tem_Parceiro, dtype: int64
Não    5086
Sim    2170
Name: Tem_Dependentes, dtype: int64
Sim    6551
Não     705
Name: Tem_Serviço_Telefone, dtype: int64
Não                        3490
Sim                        3061
Sem serviço de telefone     705
Name: Tem_Múltiplas_Linhas, dtype: int64
Fibra Óptica    3198
DSL             2483
Não             1575
Name: Tem_Serviço_Internet, dtype: int64
Não                        3607
Sim                        2074
Sem serviço de internet    1575
Name: Tem_Serviço_Segurança_Online, dtype: int64
Não                        3181
Sim                        2500
Sem serviço de internet    1575
Name: Tem_Backup_Online, dtype: int64
Não                        3194
Sim                        2487
Sem serviço de internet    1575
Name: Tem_Proteção_Aparelho, dtype: int64
Não                        3581
Sim                        2100
Sem serviço de internet    1575
Name: Tem_Suporte_Técnico, dtype: int64
Não                        2895
Sim                        2786
Sem serviço de internet    1575
Name: Tem_Tv_Streaming, dtype: int64
Não                        2866
Sim                        2815
Sem serviço de internet    1575
Name: Tem_Filmes_Streaming, dtype: int64
Mês a mês    4005
Dois anos    1733
Um ano       1518
Name: Contrato, dtype: int64
Sim    4308
Não    2948
Name: Cobrança_Sem_Papel, dtype: int64
Cobrança Eletrônica                    2445
Cobrança por Correios                  1657
Transferência Bancária (automático)    1587
Cartão de Crédito (automático)         1567
Name: Método_de_Pagamento, dtype: int64

In [18]:
#Vamos criar uma coluna com os gastos diários de cada indivíduo baseando-se no gasto mensal
dados['Gastos_Diarios'] = (dados['Cobra_Mensalmente']/30).round(2)
dados['Gastos_Diarios']

0       2.19
1       2.00
2       2.46
3       3.27
4       2.80
        ...
7262    1.84
7263    2.84
7264    1.68
7265    2.26
7266    1.97
Name: Gastos_Diarios, Length: 7256, dtype: float64

In [19]:
#Vamos verificar os dados numéricos
dados.describe()

       Tempo_de_Posse  Cobra_Mensalmente  Cobrança_Total  Gastos_Diarios
count     7256.000000        7256.000000     7256.000000     7256.000000
mean        32.395535          64.755423     2280.634213        2.158467
std         24.558067          30.125739     2268.632997        1.004282
min          1.000000          18.250000       18.800000        0.610000
25%          9.000000          35.450000      400.225000        1.180000
50%         29.000000          70.300000     1391.000000        2.340000
75%         55.000000          89.900000     3785.300000        3.000000
max         72.000000         118.750000     8684.800000        3.960000